<!DOCTYPE html>
<html>
<head>
  <style>
    div {
      border: 2px solid red;
    }
    h3 {
      text-align: center;
    }
  </style>
  <title>Brownie Points</title>
</head>
<body>
  <div class="home">
    <h3>
      Home Section
    </h3>
    <p>
      Lorem ipsum
    </p>
  </div>
  <div class="info">
    <h3>
      Information Section
    </h3>
    <p>
      Lorem ipsum
    </p>
  </div>
  <div class="how">
    <h3>
      How it Works Section
    </h3>
    <p>
      In order to support local businesses and promote volunteer work in the community, <b>Brownie Points</b> develops and operates a point-based rewards program to give back to those giving back in the community. Verified non-profits reward <b>Brownie Points</b> users with brownie points that can be exchanged for deals and discounts with local businesses.
    </p>
  </div>
  <div class="contact">
    <h3>
      Contact Section
    </h3>
    <p>
      Have a question or comment about Brownie Points?
      <br />
      Send us an email at feedback@browniepoints.com, or call us at 1-800 B-POINTS (1-800 276-4621).
    </p>
  </div>
</body>
</html>
